{% if template == 'product' %} 
<div class='giftwrap' id='zeCrdpe1I9M2E' page='product'>
</div>
{% else if template == 'cart' %}
<div class='giftwrap' id='zeCrdpe1I9M2E' page='cart'>
</div>
{% endif %}
<script>
var name = '{{product.title}}';
</script>
<script src='https://zestardshop.com/shopifyapp/zestard_gift_wrap/public/js/giftwrap.js'></script>