{%- assign enable_variable = false -%}
{%- assign collection_id_string = collection.id | downcase -%}

{%- assign blacklisted_collections = '' | split: ',' -%}
{%- if blacklisted_collections contains collection_id_string -%}{%- assign enable_variable = false -%}{%- endif -%}
{%- assign whitelisted_collections = '' | split: ',' -%}
{%- if whitelisted_collections contains collection_id_string -%}{%- assign enable_variable = true -%}{%- endif -%}


{%- if enable_variable -%}
  {%- assign condition_option_name = null -%}
  {%- assign condition_option_value = null -%}
  {%- assign condition_sale = false -%}
  {%- assign collection_black_list = '' | split: ',' -%}
  
  
  

  {%- assign variable_filters = '' -%}
  {%- for filter in collection.filters -%}
    {%- assign filter_values = '' -%}
    {%- for af in filter.active_values -%}
      {%- assign filter_values = filter_values | append:',' | append:af.value -%}
    {%- endfor -%}
    {%- assign filter_param_name = filter.param_name | replace: ' ', '_' -%}
    {%- if filter_param_name contains 'filter.v.option' -%}
      {%- assign filter_param_name = filter_param_name | downcase -%}
    {%- endif -%}
    {%- if filter_param_name contains 'filter.v.price' -%}
      {%- assign filter_values = filter_values | append:filter.min_value.value | append:'-' | append:filter.max_value.value -%}
    {%- endif -%}
    {%- assign variable_filters = variable_filters | append:';;' | append:filter_param_name | append:'::' | append:filter_values -%}
  {%- endfor -%}

  {% paginate collection.products by section.settings.products_per_page %}
    <main data-behavior="variable-products" style="display: none !important" data-collection-id='{{ collection_id_string }}' data-collection-handle='{{ collection.handle }}' class='grid-item product-item' data-next-page='{{ paginate.next.url }}'>
      {%- assign variable_products = "[" -%}
      {%- assign variable_products_arr = "" | split: "," -%}
      {%- unless variable_collection_products -%}
        {%- assign variable_collection_products = collection.products | default: collection.products -%}
      {%- endunless -%}

      {%- for full_product in variable_collection_products -%}
        {%- assign product = full_product -%}
        {%- assign product_forloop = forloop -%}
        {%- assign variable_product = '{"' | append:product.handle | append:'":{"id":"' | append:product.id -%}
        {%- assign variable_product = variable_product | append:'","options":{' -%}

        {%- assign options_exist = false -%}
        {%- for product_option in product.options_with_values -%}
          {%- assign values_exist = false -%}
          {%- if options_exist == true -%}
            {%- assign variable_product = variable_product | append:',' -%}
          {%- endif -%}
          {%- assign variable_product = variable_product | append:'"option' | append:product_option.position | append:'":{"values":[' -%}
          {%- for value in product_option.values -%}
            {%- if values_exist == true -%}
              {%- assign variable_product = variable_product | append:',' -%}
            {%- endif -%}
            {%- assign variable_option_value = value | replace: '"', '' | replace: "'", '' -%}
            {%- assign variable_product = variable_product | append:'"' | append:variable_option_value | append:'"' -%}
            {%- assign values_exist = true -%}
          {%- endfor -%}
          {%- assign variable_product = variable_product | append:'], "name":"' | append:product_option.name | append: '"}' -%}
          {%- assign options_exist = true -%}
        {%- endfor -%}

        {%- assign variable_product = variable_product | append:'},"variants":[' -%}
        {%- assign variants_arr = "" | split: "," -%}
        {%- assign show_products_without_variants = true -%}
        {%- if product.has_only_default_variant and show_products_without_variants -%}
          {%- assign variant_hsh = '{}' -%}
          {%- for product in full_product.variants -%}
            {%- assign variant = product -%}
            {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product,
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endfor -%}
        {%- else -%}

          {%- assign black_list = '' | split: ',' -%}
      {%- assign white_list = '' | split: ',' -%}
      {%- assign show_out_of_stock = true -%}
      {%- assign out_of_stock_limit = 0 -%}
      {%- assign shown_variants = '' -%}
      {%- for product in full_product.variants -%}
        {%- assign variant = product -%}
        {%- for variant_id in white_list -%}
          {%- assign product_id = product.id | append: '' -%}

          {%- if product_id == variant_id -%}
            {%- assign variant_hsh = '{}' -%}
            {%- assign variant = product -%}
            {%- assign shown_variants = shown_variants | append: ', ' | append: product_id -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product,
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endif -%}
        {%- endfor -%}

        {%- assign target_condition_variant = variant -%}
        {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}
        {%- if condition_option_name -%}
  {%- assign option_by_condition = full_product.options_by_name[condition_option_name] -%}
  {% case option_by_condition.position %}
    {% when 1 %}{%- assign option_value_by_condition = target_condition_variant.option1 -%}
    {% when 2 %}{%- assign option_value_by_condition = target_condition_variant.option2 -%}
    {% else %}{%- assign option_value_by_condition = target_condition_variant.option3 -%}
  {% endcase %}
  {%- assign downcase_option_value = option_value_by_condition | replace: '"', '' | replace: "'", '' | downcase -%}
  {%- if condition_operator == 'equal_to' and downcase_option_value != condition_option_value -%}{%- continue -%}{%- endif -%}
  {%- if condition_operator == 'not_equal_to' and downcase_option_value == condition_option_value -%}{%- continue -%}{%- endif -%}
  {%- if condition_operator == 'contains' -%}{%- unless downcase_option_value contains condition_option_value -%}{%- continue -%}{%- endunless -%}{%- endif -%}
  {%- if condition_operator == 'not_contains' and downcase_option_value contains condition_option_value -%}{%- continue -%}{%- endif -%}
{%- endif -%}
        {%- assign filters_arr = variable_filters | split: ';;' -%}
{%- assign skip_by_filter = false -%}
{%- for filtr in filters_arr -%}
  {%- assign filtr_key_value = filtr | split: '::' -%}
  {%- assign filtr_key = filtr_key_value[0] -%}
  {%- assign filtr_value = filtr_key_value[1] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' | split: ',' -%}
  {%- assign filter_values_count = filtr_value| size -%}

  {%- for product_option in full_product.options_with_values -%}
    {%- assign filtr_option_name = 'filter.v.option.' | append: product_option.name | downcase | replace: ' ', '_' -%}
    {%- assign voption = 'option' | append: product_option.position -%}
    {%- if filtr_option_name == filtr_key and filter_values_count > 0 -%}
      {%- assign variant_value = target_condition_variant[voption] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' -%}
      {%- unless filtr_value contains variant_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'filter.v.availability' == filtr_key -%}
    {%- if filtr_value contains '1' and filtr_value contains '0' -%}{%- continue -%}{%- endif -%}
    {%- if filtr_value contains '1' -%}
      {%- if target_condition_variant.inventory_quantity <= 0 and target_condition_variant.inventory_policy != 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- elsif filtr_value contains '0' -%}
      {%- if target_condition_variant.inventory_quantity > 0 or target_condition_variant.inventory_policy == 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if 'filter.v.price' == filtr_key -%}
    {%- assign filtr_price_range = filtr_value | join | split: '-' -%}
    {%- assign min_price = filtr_price_range[0] | plus: 0 -%}
    {%- assign max_price = filtr_price_range[1] | plus: 0 -%}
    {%- if target_condition_variant.price < min_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
    {%- if max_price != 0 and target_condition_variant.price > max_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign metafield_namespaces = 'global,my_fields,custom' | split: ',' -%}
  {% for namespace in metafield_namespaces %}
    {%- assign filtr_metafiled_name = 'filter.v.m.' | append: namespace | append: '.' | replace: ' ', '_' -%}
    {%- if filtr_key contains filtr_metafiled_name and filter_values_count > 0 -%}
      {%- assign metafield_key = filtr_key | remove: filtr_metafiled_name -%}
      {%- assign mfiltr_value = target_condition_variant.metafields[namespace][metafield_key] | metafield_text -%}
      {%- unless mfiltr_value != '' and filtr_value contains mfiltr_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{%- if skip_by_filter -%}{%- continue -%}{%- endif -%}
        {%- assign product_id = product.id | append: '' -%}
        {%- unless black_list contains product_id or shown_variants contains product_id -%}
          {%- if show_out_of_stock or product.inventory_quantity > out_of_stock_limit or product.inventory_policy == 'continue' -%}
            {%- assign variant_hsh = '{}' -%}
            {%- assign variant = product -%}
                  
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product,
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endif -%}
        {%- endunless -%}
      {%- endfor -%}


        {%- endif -%}
        {%- assign joined_variants = variants_arr | join: "," -%}
        {%- assign variable_product = variable_product | append: joined_variants | append:"]}}" -%}

        {%- assign tmp_product_arr = variable_product | split: "," -%}
        {%- assign variable_products_arr = variable_products_arr|concat:tmp_product_arr -%}
      {%- endfor -%}

      {%- assign joined_products = variable_products_arr | join: "," -%}
      {%- assign variable_products = variable_products | append: joined_products | append:"]" -%}
      <span data-behavior="variable_product_list" data-product_list='{{ variable_products }}'></span>
    </main>
    
  {%- endpaginate -%}
{%- endif -%}
